- provide(:title, 'TODO')

- flash.each do |type, message|
  %div{ class: "alert alert-#{type}" }= message

%h1 TODO

= link_to '+', new_todo_path

%ul
  - @todos.each do |todo|
    %li
      - if todo.finished
        %del= todo.title
      - else
        %span= todo.title
      %span= todo.deadline
      %span= link_to 'edit', edit_todo_url(todo)
      %span= link_to 'destroy', todo, method: :delete, data: { confirm: 'Are you sure?' }
